{{template "base" .}}
{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is Home</h1>
                <img src="/static/images/golang.png" height="450" width="230">
                
            </div>
        </div>
    </div>
{{end}}